#this preset is based on regular wine

_PKGNAME_OVERRIDE="tdf-mainline"
_NOLIB32="wow64"
_configure_userargs64="--without-dbus"

_use_GE_patches="false"
_use_staging="false"
_MIME_NOPE="true"
_FOAS_NOPE="true"
#_nativedotnet_fix="true" #looks like it breaks things more than winemono
_msvcrt_nativebuiltin="true"
_win10_default="true" #changed for better compatibility but also interoperability with the game-optimized build (without this it gets set to a weird version when switching)
_user_patches_no_confirm="true"
