#this preset is based on the valve experimental bleeding edge preset

_PKGNAME_OVERRIDE="tdf-games"
_NOLIB32="wow64"

#disable a bunch of useless shit
_configure_userargs64="--without-capi --without-cups --without-dbus --without-gphoto --without-gssapi --without-krb5 --without-ldap --without-netapi --without-oss --without-pcap --without-pcsclite --without-sane --without-usb --without-udev --disable-win16"

_use_GE_patches="true"
_GE_WAYLAND="true"

#various things I personally find useful
_protonify="true"
_MIME_NOPE="true"
_FOAS_NOPE="true"
_msvcrt_nativebuiltin="true"
_user_patches_no_confirm="true"
